<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Used Furniture Store</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<header>
    <div class="header-content">
        <h1>Bargain Finds Furniture</h1>
        <nav class="navbar">
            <a href="index.html">Home</a>
            <a href="products.html">Products</a>
            <a href="#Cart">Shopping Cart</a>
            <div class="search-container">
                <input type="text" placeholder="Search..">
                <button type="button">Submit</button>
            </div>
        </nav>
    </div>
</header>

<main>

    <nav class="sidebar">
        <h3>Furniture Categories</h3>
        <ul>
            <li><a href="#couches">Sectionals</a></li>
            <li><a href="#chairs">Chairs</a></li>
            <li><a href="#tables">Tables</a></li>
            <li><a href="#lamps">Beds</a></li>

        </ul>
    </nav> 

    <section class="content">
        <section>
            <img class="details-picture" src="" alt="Product Image">
        </section>
    
        <section class="product-details">
            <h3></h3>
            <p></p>
            <p><span id="descriptors">Price:</span></p>
            <p><span id="descriptors">Dimensions:</span></p>
            <p><span id="descriptors">Material:</span></p>
            <button type="button" class="add-to-cart">Add to Cart</button>
        </section>
    </section>
</main>
<script src="/script.js"></script>
</body>
</html>