<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Used Furniture Store</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

<header>
    <div class="header-content">
        <h1>Bargain Finds Furniture</h1>
        <nav class="navbar">
            <a href="index.html">Home</a>
            <a href="products.html">Products</a>
            <a href="cart.html">Shopping Cart</a>
            <div class="search-container">
                <input type="text" placeholder="Search..">
                <button type="button">Submit</button>
            </div>
        </nav>
    </div>
</header>

<div class="splash">
    <div class="center">
        <h3>Bargain Finds Furniture</h3>
        <button><a href="products.html">Shop Couches</a></button>
        <p>Find Quality Used Furniture at Affordable Prices</p>
    </div>
</div>
    <script src="/script.js"></script>
    <footer>
        <p>&copy; 2024 Used Furniture Store. All Rights Reserved.</p>
    </footer>
</body>
</html>